# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Netflix-GPT

- Created create-react-app
- configured - TailwindCSS
- header
- login form
- sign up form
- form validation
- useRef hook
- create a Firebase account 
- Created a project in Firebase
- created Authentication using Email/Password
- In VS code project added firebase login for deploying the code to firebase using command - firebase login
- Once logged in you need to setup project by command - firebase init
- select your project from your firebase which is existing project 
- No am using public directory as build 
- setuping "No" for automatic builds and deploys with github (for all projects I used Netlify where it automatically deploy my app)
- Now for deploying we need to build a "build Folder" in our app using command - npm run build
- After building run command - "firebase Deploy" for deploying
- Deployed in firebase
- Create signup user Account
- Implemented SignIn and SignUp user api from firebase
- setuped the store
- Updated profile picture according to the user login. 
  - while signin we are adding name, email, photo to store soo we are getting them depends on the user only.
- fixed direct changing route from login to browse bcz if user is logined we need to go to browse right ?
  - That is fixed using checking whether User is present or not it means as we are using firebase in that we check for Auth which give the authenticated user.
- unsubscribe onAuthChanged when component unmounts
- Registered Tmdb movies api application (got some issue for not rendering check youtube and setup if this is the case)
- Login and getting apis using api_key with options in api fetching 
- Created custom hooks
- Added video and title for browse screen
- fetched video according to the id
- Build the Movie list according to the dividing nowplaying, popular, trending with different apis.
- Made reusable components for all the components
- gpt search feature 
- bgImg for GPTSearch screen, login screen added in config directly to use as "bg-custom-bg"
- Added multilangugage for search bar using redux storage




# feature
Login / Sign Up
 - SignIn Page
 - Login 

- Browse (after authentication)
  - Header
  - Main Movie
    - Main Trailer (Bg)
    - Title - description
  - Movie Suggestions
    -movie list

- NetflixGPT
    - Search Bar
    - Movie Suggestions

  